@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");
@value mediaQuery from "../common/size.css";

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(-135deg, #e4a972, #9941d8) fixed;
}

.mainBox {
  display: flex;
  flex-direction: column;
  height: 800px;
  width: 1200px;
  border-radius: 0.6rem;
  background-color: #ffffff;
  box-shadow: 3px 3px 5px 0 rgba(133, 133, 133, 0.9);
  animation: shadow-drop-2-center 1.5s ease-in-out;
}

@keyframes shadow-drop-2-center {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.container {
  flex: 1;
}

@media screen and (max-width: mediaQuery) {
  .mainBox {
    width: 90%;
  }
}

.cursor.cursorOver {
  transform: scale(2);
  background-color: black;
}

.cursor {
  width: 3rem;
  height: 3rem;
  border: 2px solid black;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: background-color, transform;
  transform-origin: 100% 100%;
  z-index: 1;
}
