@value makerBlack from '../../common/colors.css';

.footer {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: makerBlack;
}

.a {
  color: white;
}
