@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");
@value mediaQuery from "../../common/size.css";
@value makerYellow, makerModern, makerBlack, makerGreen, makerPink from "../../common/colors.css";

.loginBox {
  display: flex;
  justify-content: space-between;
  font-family: "Black Han Sans", sans-serif;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: mediaQuery) {
  .loginBox {
    flex-direction: column;
  }
}

.textBox {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  background-color: makerModern;
}

.text {
  position: absolute;
  font-size: 50px;
  z-index: 9;
}

.egg {
  display: block;
  width: 200px;
  height: 220px;
  background-color: makerYellow;
  border-radius: 65% 35% 60% 40%;
  /* 30% 60% 35% 60% */
  animation: move 5s ease-in-out infinite;
}

@keyframes move {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0);
  }
}

.btnBox {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-basis: 50%;
  background-color: makerModern;
}

.triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 70px solid transparent;
  border-left: 200px solid makerGreen;
  border-bottom: 150px solid transparent;
  border-radius: 1% 70% 95% 20% / 20% 50%;
  animation: move 5s ease-in-out infinite;
}

.list {
  width: 300px;
  z-index: 11;
}

.btn {
  margin: 0.5rem;
  width: 18rem;
  height: 3rem;
  font-size: 20px;
  /* font-weight: 700; */
  color: makerBlack;
  border: 2px solid makerBlack;
}

.btn:hover {
  box-shadow: 3px 3px 5px 0 rgba(94, 94, 94, 0.9);
}
